<div class="user-container">
    <mat-card>
        <table class="user-table">
            <tr>
                <th>Name</th>
                <th>E-Mail</th>
                <th>City</th>
            </tr>
            <tr *ngFor="let user of allUsers" [routerLink]="['/user/' + user.userId]">
                <td>{{ user.firstName }} {{ user.lastName }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.city }}</td>
            </tr>
        </table>
    </mat-card>
    <div class="add-user-button">
        <button (click)="openDialog()" mat-fab matTooltip="Add new User" color="primary"
            [matTooltipPosition]="position.value!">
            <mat-icon>add</mat-icon>
        </button>
    </div>
</div>
